/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 23rem;
}

.heroContainer {
  background: linear-gradient(to left, transparent 60%, #ffde59), url('../../static/img/apache-sunny-transparent.svg');
  background-color: #03989e;
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.punchLine {
  padding: 4rem 0;
  text-align: center;
}
